<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CellarScout.com</title>
    <link rel="stylesheet" type="text/css" href='../static/style.css'>
    <link rel="icon" type="image/jpg" href="'../static/wine-bottle.png">
</head>
<body>
    
    <nav class="topbar">
        <h1>CellarScout</h1>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
        
    </nav>
    <div class="containerindex">

    </div>
    
    
    <div class="botbar">
        <p1>Designed by Aditya</p1>
    </div>

</body>
</html>